In [ ]:

import pandas as pd

In [ ]:
#1.1
df = pd.read_csv('kc_house_data (2).csv')
df.head()

In [ ]:
#1.2
new_df = []

for i, k in df.iterrows():
    if k['yr_renovated']:
        new_df.append(k['yr_renovated']-k['yr_built'])
    else:
        new_df.append(0)

df['delta_renovated'] = new_df
df.head()

In [ ]:
#1.3
df['Y'] = df['date'].apply(lambda x: int(x[:4]))
df['M'] = df['date'].apply(lambda x: int(x[4:6]))
df[['Y','M']].head()

In [ ]:
#1.4
df.drop(columns=['date' ,'zipcode', 'lat', 'long'], inplace=True)
df.head()

In [ ]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866,
2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134,
2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330,
2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})
clients.head()

In [ ]:
#2.1
clients_id = clients.set_index('house_id')
df2 = df.set_index('id')
joined = clients_id.join(df2)
joined.head()

In [ ]:
#2.2
merged = clients.merge(df, left_on = 'house_id', right_on = 'id')
merged.head()

In [ ]:
#3.1
df.groupby('bedrooms').agg({'price' : 'mean'}).sort_values(by = 'price')

In [ ]:

#3.2
df.groupby('condition').agg({'price' : ['min', 'mean', 'max']})

In [ ]:
#3.3
df.pivot_table(index = 'waterfront', columns= 'view' , values='condition', aggfunc='count', fill_value=0)

In [ ]:
#3.4
pd.crosstab(index = df['floors'], columns = df['bedrooms'])

In [ ]:
#3.5
df.pivot_table(index='condition', columns='grade', values='price', aggfunc='median', fill_value=0)